.friends-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.friends-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.friendships {
  width: 100%;
  & .friend{
    & h5 {
      margin: 2px !important;
      padding: 2px !important;
    }
  }
}

.friend {
  padding: 1px;
}

.friendships:hover {
  cursor: pointer;
  background-color: rgb(169, 167, 170);
  border-radius: 40px;
}
