.comments-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.comments-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.messageForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  & ion-input {
    width: 70%;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.delete-post {
  position: absolute;
  right: 5px;
  top: 20px;
}
