.profile-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.profile-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.profileData {
  width: 100%;
  & .data-item{
    & h5 {
      margin: 2px;
    }
  }
}

.full-width {
  width: 100%;
}

.data-item {
  display: flex;
  flex-direction: row;
}

.firstItem {
  width: 50%;
}
