.register-page {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.register-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
