<ng-container>
  <ng-container *ngIf="displayFriendsPage">
    <div class="friends-page">
      <ion-grid class="full-height">
        <ion-row class="full-height">
          <ion-col align-self-center class="full-height">
            <div class="friends-panel">
              <br>
              <h3>Znajomi</h3>
              <ion-content>
                <div class="friendships">
                  <ng-container *ngIf="friendships?.userFriends">
                    <div class="friend" *ngFor="let friendship of friendships.userFriends" (click)="goToFriendPage(friendship.userId)">
                      <h5 class="full-width">{{friendship.name}}</h5>
                    </div>
                  </ng-container>
                </div>
              </ion-content>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ng-container>
<ng-container *ngIf="displayFriendProfilePage">
  <user-profile [userId]="selectedUserId" (onGoBackEmit)="goBackToFriendsPage()" ></user-profile>
</ng-container>
</ng-container>
