<ng-container>
  <ng-container *ngIf="displayHomePage">
    <ion-content>
      <br>
      <br>
      <div class="buttons">
        <div class="fishup-btn primary add" (click)="moveToAddPostPage()" style="margin-left:5px;">
          Nowy post
        </div>
        <div class="fishup-btn primary add" (click)="moveToAddTripPage()">
          Nowy trip
        </div>
      </div>
      <h4>Najnowsze posty</h4>
      <p *ngIf="recentPosts?.posts.length == 0">
        Tu zaraz będą najnowsze posty
      </p>
      <ng-container *ngIf="recentPosts?.posts.length != 0">
        <div class="trip" *ngFor="let post of recentPosts?.posts" (click)="moveToPostDetailsPage(post?.postId)">
          <p class="author">{{post?.message}}</p>
          <p>{{post?.authorName}}</p>
        </div>
      </ng-container>
      <h4>Zaplanowane podróże</h4>
      <p *ngIf="availableTrips?.trips.length == 0">
        Tu niedługo pojawią się dostępne podróże
      </p>
      <ng-container *ngIf="availableTrips?.trips?.length != 0">
        <div class="trip" *ngFor="let trip of availableTrips?.trips"  (click)="moveToTripDetailsPage(trip?.id)">
          <p class="author">{{trip?.author}}</p>
          <p>{{trip?.destination}}</p>
        </div>
      </ng-container>
    </ion-content>
  </ng-container>
  <ng-container *ngIf="displayAddPostPage">
    <add-post (onGoBackEmit)="onGoBackEmit()"></add-post>
  </ng-container>
  <ng-container *ngIf="displayPostDetailsPage">
    <post-details-page (onGoBackEmit)="onGoBackEmit()" [commentId]="currentCommentId" ></post-details-page>
  </ng-container>
  <ng-container *ngIf="displayTripDetailsPage">
    <trip-details [tripId]="currentTripId" (onGoBackEmit)="onGoBackEmit()"></trip-details>
  </ng-container>
</ng-container>
